h3 {
    text-align: center;
    color: white;
}

h4 {
    text-align: center;
}

#weekday {
    text-align: center;
}

#date-item {
    list-style-position: inside;
    border: 1px solid white
    
}

#feast-item {
    align-content: center;
    list-style-position: inside;
    
}