body {
  background-color: black;
  
}

ul {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;

}

h1 {
  width: fit-content;
  margin: auto;
  font-family: cursive;
  color: white
}

p {
  width: fit-content;
  margin: auto;
  font-family: fantasy;
  color: white
}

.input {
  width: fit-content;
  margin: auto;

}
