body {
  background-color: black;
  
}

ul {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;

}

h1 {
  width: fit-content;
  margin: auto;
  font-family: cursive;
  color: white
}

p {
  width: fit-content;
  margin: auto;
  font-family: fantasy;
  color: white;
  font-size: 0.9em;
  padding-left: 15%;
  padding-right: 15%;
}

.input {
  width: fit-content;
  margin: auto;

}

#chart {
  width: fit-content;
  margin: auto;
}
